* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  background-color: #f4f6f8;
}
.App {
  color: #0e0c0c;
  /* background: #f4f6f8; */
  /* for call to action buttons : #FF3030 */
}

.tox-statusbar__branding{
  display: none;;
}